<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防止外边距重叠</title>
    <style>
        .blue,
        .red {
            height: 50px;
            margin: 10px 0;
        }

        .blue {
            background: blue;
        }

        .red {
            background: red;
        }

        .outer {
            overflow: hidden;
            background: transparent;
        }
    </style>
</head>

<body>
    <div class="blue"></div>
    <div class="red"></div>

    <div class="blue"></div>
    <div class="outer">
        <div class="red"></div>
    </div>
</body>

</html>