<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>border</title>
    <style>
        .box {
            background-color: gray;
            border-left: 200px solid aquamarine;
        }

        .box .left { 
            /* background-color: greenyellow; */
            float: left;
            margin-left: -200px;
        }

        .box .right {
            background-color: pink;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="left">
            content
        </div>
        <div class="right">
            content<br />
            content<br />
            content<br />
            content<br />
        </div>
    </div>
</body>

</html>