<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>padding-margin-overflow</title>
    <style>
        .container {
            background-color: gray;
            /* overflow: hidden; */
        }

        .container .left {
            background-color: pink;
            float: left;
        }

        .container .right {
            background-color: skyblue;
            float: left;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">content</div>
        <div class="right">
            content<br />
            content<br />
            content<br />
            content<br />
        </div>
    </div>
</body>

</html>