<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo3</title>
    <style>
        body {
            font: 1.2em sans-serif;
        }

        span {
            font-size: 200%;
            vertical-align: top;
        }

        .example {
            border: 5px solid black;
            margin: 20px;
            inline-size: 400px;
        }

        .horizontal {
            writing-mode: horizontal-tb;
        }

        .vertical {
            writing-mode: vertical-rl;
        }
    </style>
</head>

<body>
    <div class="example horizontal">
        Before that night—<span>a memorable night</span>, as it was to prove—hundreds
        of millions of people had watched the rising smoke-wreaths of their fires
        without drawing any special inspiration from the fact.
    </div>

    <div class="example vertical">
        Before that night—<span>a memorable night</span>, as it was to prove—hundreds
        of millions of people had watched the rising smoke-wreaths of their fires
        without drawing any special inspiration from the fact.
    </div>
</body>

</html>