<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo2</title>
    <style>
        body {
            font: 1.2em sans-serif;
        }

        .example {
            border: 5px solid black;
            margin: 20px;
        }

        span {
            border: 5px solid rebeccapurple;
        }
    </style>
</head>

<body>
    <div class="example">
        Before that night—
        <span>a memorable night, as it was to prove— hundreds of millions of people</span>
        had watched the rising smoke-wreaths of their fires without drawing any
        special inspiration from the fact.
    </div>
</body>

</html>